<footer>
  <div class="footer-container">
    <div class="img-icons-container">
      <a href ="https://github.com/DamianCwykiel" target="_blank"><img src="images/3 - github.svg" alt="github" class="img-icons"></a>
      <a href ="https://www.udemy.com/" target="_blank"><img src="images/4 - udemy.svg" alt="udemy" class="img-icons"></a>
      <a href ="https://twitter.com/CwykielDamian" target="_blank"><img src="images/5 - twitter.svg" alt="twitter" class="img-icons"></a>
    </div>
    <div id="footer-logo">
      <h4>{{title}} {{getCurrentYear}}.</h4>
      <p>{{subtitle}}</p>
    </div>
  </div>
</footer>