<nav>
    <div class="logo-container">
    <h1 id="logo-title">
      <a href="/#about" id="logo-title">{{logo}}</a>
    </h1>
    <h4 id="logo-subtitle">{{offer}}</h4>
  </div>
  <ul class="top-nav-ul">
      <li><a href ="/#courses">Courses</a></li>
      <li><a href ="/#projects">Projects</a></li>
      <li><a href ="/#contact">Contact</a></li>
      <li><a href ="/blog">Blog</a></li>
    <a href ="http://newsletter-damian-cwykiel-pl.stackstaging.com/" target="_blank"><button class ="button" id="newsletter">Join Newsletter</button></a>
  </ul>
</nav>
<a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class="contact-side-icon"></a>
