<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui, shrink-to-fit=no">
    <title>Dev Courses | Damian Cwykiel</title>
    <link rel="icon" type="image/ico" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div id="container">
      <header>
        <nav>
          <div class="logo-container">
            <h1 id="logo-title">
              <a href="/#about" id="logo-title">Damian Cwykiel</a>
            </h1>
            <h4 id="logo-subtitle">Dev Classes for Kids</h4>
          </div>
          <ul class="top-nav-ul">
            <li><a href ="/#courses">Courses</a></li>
            <li><a href ="/#projects">Projects</a></li>
            <li><a href ="/#contact">Contact</a></li>
            <a href ="http://newsletter-damian-cwykiel-pl.stackstaging.com/" target="_blank"><button class ="button" id="newsletter">Join Newsletter</button></a>
          </ul>
        </nav>
        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank" class="contact-side-icon"></a>
      </header>
      <main>
      </main>
      <footer>
        <div class="footer-container">
          <div class="contact-section">
            <a href="https://github.com/DamianCwykiel" target="_blank"><img src="images/3 - github.svg" class="img-icons"></a>
            <a href="https://twitter.com/CwykielDamian" target="_blank"><img src="images/5 - twitter.svg" class="img-icons"></a>
            <a href="https://www.udemy.com/" target="_blank"><img src="images/4 - udemy.svg" class="img-icons"></a>
           </div>
          <div id="footer-logo">
            <h4>{{footer}}</h4>
            <p>{{tag}}</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>
