<!DOCTYPE html>
<html lang="en" dir="ltr"> 
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimal-ui, shrink-to-fit=no">
    <title>Dev Courses | Damian Cwykiel</title>
    <link rel="icon" type="image/ico" href="/images/favicon.ico" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  </head>
  <body>
    
    <div id="container">
      {{> header}}
      {{> main }}
      {{> footer}}
    </div>
    <script src="/scripts/libs/jquery-3.3.1.min.js"></script>
    <script src="/scripts/index.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>   
    <script> AOS.init({duration: 2000, delay: 200}) </script>
    </body>
</html>
