#article {
    align-items: justify;
    border-right: 1px solid $gray-medium;
    color: $white;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: calc(50%, -20px);
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 160%;
    padding: 4rem 2rem 0 0;
    text-align: right; 
    width: 100%;
    h4 {
        position: relative;
        top: 25%;
    }
    h1 {
        position: relative;
        top: 15%;  
        font-size: 2.5rem; 
        line-height: 120%;
    }
}
  
#figure {
    background-size: contain;
    padding: 10rem 2rem;
    position: static;
    text-align: left;
    width: 100%; 
}

.img-icons-container {
    height: 5rem;
    padding: 2rem 0;
    text-align: center;
    width: 100vw; 
}

.img-arrow-container {
    @extend .img-icons-container;
    padding: 1px 0;
}

.img-icons {
    border: none;
    height: 2rem; 
    width: 3rem;  
    &:hover {
        cursor: pointer;
        transition: 0.5s ease-in-out;
        transform: translateY(5px); 
    }
}

.blog-img {
    background-size: contain;
    height: 15rem; 
    width: 10vw;
}

#arrow-down {
    height: 2rem;  
    position:absolute;
    width: 2rem;
} 

.profile-img {
    border: none;
    border-bottom: 2px solid $dark-red;
    background-size: contain;
}

.projects-img {
    cursor: pointer;
}