#courses {
    background-color: $antique-white; 
}

.dev-courses {
    color: $crimson;
    font-size: 1.3rem; 
}
  
.courses-content {
    margin: .5rem 1.2rem;
    list-style-type: none; 
}
  
.courses-container {
    align-items: center; 
    width: 100vw;
}

.courses-items-title, .projects-items-title {
    background: $antique-white;
    color: $yellow-green;
    display: inline-grid;
    grid-column: 1/3;
    justify-content: center;
    padding: 5rem 5rem;
    width: 100vw; 
}

.img-courses-first {
    background: url("img/courses-img-1.png") no-repeat center center;
    background-size: cover;
    padding: 8rem 0;
    color: $white; 
}

.img-courses-second {
    @extend .img-courses-first;
    background: url("img/courses-img-2.png") no-repeat center center;
    background-size: cover;
}

.img-courses-third {
    @extend .img-courses-first;
    background: url("img/courses-img-3.png") no-repeat center center;
    background-size: cover;
}
  
.courses-item {
    align-items: center;
    border: 1px solid $dark-gold;
    height: 30rem;
    text-align: center;
    padding: 0 auto;
    margin: 1.2rem 10rem;
    width: 60%; 
    span {
        color: $medium-red;
        font-size: 1.2rem;
        font-weight: 800;
    }
}
  
.courses-item-first:hover, 
.courses-item-second:hover, 
.courses-item-third:hover {
    background: $antique-white;
    box-shadow: 0 0 5px $dark-gold;
    transform: scale(1.01);
    transition: 0.4s ease-in-out; 
}

.projects-container {
    align-items: center;
    display: flex;
    flex-direction: column; 
}
  
.projects-container-items {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-column-gap: 3rem;
    justify-content: center;
    word-break: break-all; 
}
    
#project {
    height: 20rem;
    width: 20rem;
    position: relative; 
}

.projects-item {
    padding: 1.5rem 0;
    text-align: center;
    width: 30rem; 
}
  
.projects-item:hover {
    transform: scale(1.03);
    transition: 0.4s ease-in-out; 
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: relative;
    top: 50%;
    width: 5rem;
    height: 5rem;
    margin-top: -22px;
    padding: 16px;
    color: $light-green;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
    
    /* Position the "next button" to the right */
  .next {
     right: 0;
    border-radius: 3px 0 0 3px;
  }
    
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: $white;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background-color 0.6s ease;
  }
    
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .dot-container {
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100vw;
  }
    
  .arrow-container {
    display:flex;
    justify-content: space-between;
    height: 5rem;
    width: 60vw;
  }