//Colors
//white
    $white: #fff;
    $antique-white:#eeeed5;
//gray
    $gray: gray;
    $dot-gray: #bbb;
    $dot-gray-active: #717171;
    $light-gray:#708090;
    $gray-medium: #555;
    $black: #000;
//red
    $red: rgb(255, 0, 0);
    $light-red:#f10505;
    $light-red-g: #dd4b39;
    $medium-red: rgba(255, 0, 0, 0.856);
    $dark-red: rgba(255, 0, 0, 0.4);
    $crimson: rgb(220, 20, 60);
//blue
    $blue: rgb(0, 0, 255);
    $light-blue-in: #007bb5;
    $medium-blue-f: #3B5998;
//green
    $yellow-green: rgb(154, 205, 50);
    $light-green: #057c05;
    $medium-green: rgb(0, 128, 0);

// gold
    $medium-gold: rgb(255,215, 0);
    $dark-gold: rgb(218,165, 32); 
    